*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #eff3f4;
}

p{
    text-align: justify;
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 95%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1{
    padding-bottom: 0.75em;
    color: #1d2a33;
    text-align: center;
    font-size: 180%;
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
}

h2, h3{
    padding-bottom: 0.15em;
    color: #1d2a33;
    text-align: left;
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
}

h2{
    font-size: 140%;
}

h3{
    font-size: 120%;
}

h2 span, h3 span{
    margin-right: 0.25em;
}

nav{
    position: fixed;
    z-index: 999;
}

.last{
    padding-right: 0;
}

.left{
    display: none;
}

.left p{
    color: #FFFFFF;
}

.right p{
    color: #FFFFFF;
    text-align: center;
}

.right{
    background-color: #1d2a33;
}

nav li{
    padding: 1%;
}

.main-nav{
    display: none;
    background-color: #1d2a33;
}

.active{
    display: block;
    background-color: #1d2a33; 
}

.nav-links{
     list-style: none;
     background-color: #1d2a33; 
}

.nav-links a:hover{
    text-decoration: none;
}

.navbar-toggle {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 125%;
}

.page{
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.2rem;
}

.underline{
    text-decoration: underline;
}

.uppercase{
    text-transform: uppercase;
}

.current-link{
    color: #2676a5 !important;
}

.footer, nav{
    padding: 0.75%;
    flex-shrink: 0;
    width: 100%;
    background-color: #1d2a33;
}

.footer a:hover{
    text-decoration: none;
}

.footer p{
     text-align: center;
     color: #FFFFFF;
}

@media all and (min-width: 850px){
    .page{
        width: 75%;
    }
    
    .main-nav{
        display: inline-block;
    }
    
    nav p, nav div, nav li{
        display: inline-block;
    }
    
    nav li{
        margin-left: 2%;
        padding: 0;
    }
    
    nav a{
        padding: 1.25%;
    }
    
    .navbar-toggle{
        display: none;
    }
    
    .left{
        padding: 0 0 0 1.25%;
        display: inline-block;
        text-align: left;
        width: 25%;
        font-weight: bold;
    }
    
    .right{
        width: 70%;
        text-align: right;
    }
    
    h1{
      font-size:  220%;
    }
    
    h2{
       font-size: 150%;
    }
    
    h3{
        font-size: 130%;
    }
    
    p{
        font-size: 105%;
    }
    
}

@media all and (min-width: 1200px){
    .page{
        width: 65%;
    }
}

.cover-image{ 
    background-color: #c0d4e0;
    width: 100%;
}

#placeholder{
    width: 100%;
    height: auto;
}

.slides{
    display: none;
    width: 100%;
    height: auto;
}

.dots {
  cursor: pointer;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots-wrapper{
    padding-top: 0.25em;
    text-align: center;
    background-color: #1d2a33;
}

.active-dots, .dots:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.container{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1.5em;
    border-bottom: 0.09em dashed #ffffff;
    background-color: #c0d4e0;
}

.container-hover:hover{
    background-color: #a3bbc9;
    box-shadow: 0 0 1.5em rgba(33,33,33,.2);
}

.column{
    min-width: 0;
}

.column-1{
    text-align: right;
}

.column-1 span{
    margin-right: 0;
    margin-left: 0.25em;
}

sub{
    color: #2676a5;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: #2676a5;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

ul{
    padding-left: 2em;
    list-style-type: circle;
}

.column-heading{
    color: #2676a5;
}

.text-effect:hover{
    text-shadow: 0 0 1.5em rgba(0,0,0,.7);
}

.text-shadow-effect:active{
    color: #2676a5;
}

.team-details ol{
    padding-left: 2em;
    list-style-type: lower-roman;
}

.team-details{
    margin-bottom: 1em;
}

.fa{
    padding: 0.25em;
}

.icon-wrapper{
    padding: 0.5em;
    visibility: hidden;
}

.team-details li:hover i{
    visibility: visible;
}

details summary:focus{
    outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details > summary:first-of-type {
    list-style-type: none;
}

details[open] summary  ~ * {
  -webkit-animation-name: sweep;
  -webkit-animation-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  animation: sweep 0.25s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

details .up{
    display: none;
}

details .down{
    cursor: pointer;
}

details[open] .up{
    display: inline-block;
    cursor: pointer;
}

details[open] .down{
    display: none;
    cursor: pointer;
}

details a:hover{
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.blink{
    color: #2676a5;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}